<a href="https://colab.research.google.com/github/Mjt216/Sample-Code-Repository/blob/main/fisheries_v2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

# STEP 1. High-seas fishing fleet: Read vessel-level data and characterize the fleet by vessel and flag (country).

# Load the provided vessel-level data (sample of 100 vessels, all years, all flags)
vessel_df = pd.read_csv("pnas.2016238117.sd01.csv")

# Clean up and standardize flag states (Flag States = 'flag' column)
# Drop rows with missing flags if any
vessel_df = vessel_df.dropna(subset=["flag"])

# Summarize fleet characteristics by flag (country)
flag_summary = vessel_df.groupby("flag").agg(
    vessels=("mmsi", "nunique"),
    years_observed=("year", "nunique"),
    avg_length_m=("length_m", "mean"),
    avg_tonnage_gt=("tonnage_gt", "mean"),
    avg_engine_power_kw=("engine_power_kw", "mean"),
    avg_crew_size=("crew_size", "mean"),
    total_fishing_hours=("fishing_hours", "sum"),
    total_distance_km=("distance_traveled_km", "sum"),
).reset_index()

# Show summary for the first few flag states
print(flag_summary.head())

# Save output
flag_summary.to_csv("fleet_summary_by_flag.csv", index=False)

  flag  vessels  years_observed  avg_length_m  avg_tonnage_gt  \
0  AFG        5               3     25.134141       64.947881
1  AGO       28               4     31.690469      303.990659
2  AIA        1               2     48.412080      858.707340
3  ALB       22               5     26.754292      135.265132
4  ARE        3               5     23.393464      104.793213

   avg_engine_power_kw  avg_crew_size  total_fishing_hours  total_distance_km
0           530.367414       9.508190          1323.209028       3.101601e+04
1           557.813707      16.149223        182667.782500       1.542720e+06
2          1657.891684      15.767235           428.393194       3.017251e+04
3           488.707395      11.652670         26388.662222       3.375487e+05
4           324.106520      13.176111             7.049167       1.005811e+04

In [ ]:
import pandas as pd

# Load the provided vessel-level data
vessel_df = pd.read_csv("pnas.2016238117.sd01.csv")

# Clean up missing flag or gear type rows if any
vessel_df = vessel_df.dropna(subset=["flag", "gear"])

# Summary by flag
flag_summary = vessel_df.groupby("flag").agg(
    vessels=("mmsi", "nunique"),
    years_observed=("year", "nunique"),
    avg_length_m=("length_m", "mean"),
    avg_tonnage_gt=("tonnage_gt", "mean"),
    avg_engine_power_kw=("engine_power_kw", "mean"),
    avg_crew_size=("crew_size", "mean"),
    total_fishing_hours=("fishing_hours", "sum"),
    total_distance_km=("distance_traveled_km", "sum"),
).reset_index()

# Summary by gear type
gear_summary = vessel_df.groupby("gear").agg(
    vessels=("mmsi", "nunique"),
    flags=("flag", "nunique"),
    avg_length_m=("length_m", "mean"),
    avg_tonnage_gt=("tonnage_gt", "mean"),
    avg_engine_power_kw=("engine_power_kw", "mean"),
    avg_crew_size=("crew_size", "mean"),
    total_fishing_hours=("fishing_hours", "sum"),
    total_distance_km=("distance_traveled_km", "sum"),
).reset_index()

# Cross-tabulation by flag and gear type
flag_gear_summary = vessel_df.groupby(["flag", "gear"]).agg(
    vessels=("mmsi", "nunique"),
    avg_length_m=("length_m", "mean"),
    avg_tonnage_gt=("tonnage_gt", "mean"),
    avg_engine_power_kw=("engine_power_kw", "mean"),
    avg_crew_size=("crew_size", "mean"),
    total_fishing_hours=("fishing_hours", "sum"),
).reset_index()

# Save outputs
flag_summary.to_csv("fleet_summary_by_flag.csv", index=False)
gear_summary.to_csv("fleet_summary_by_gear.csv", index=False)
flag_gear_summary.to_csv("fleet_summary_by_flag_and_gear.csv", index=False)

# Optionally print head for verification
print("=== By Flag ===")
print(flag_summary.head())
print("\n=== By Gear ===")
print(gear_summary.head())
print("\n=== By Flag & Gear ===")
print(flag_gear_summary.head())

=== By Flag ===
  flag  vessels  years_observed  avg_length_m  avg_tonnage_gt  \
0  AFG        5               3     25.134141       64.947881
1  AGO       28               4     31.690469      303.990659
2  AIA        1               2     48.412080      858.707340
3  ALB       22               5     26.754292      135.265132
4  ARE        3               5     23.393464      104.793213

   avg_engine_power_kw  avg_crew_size  total_fishing_hours  total_distance_km
0           530.367414       9.508190          1323.209028       3.101601e+04
1           557.813707      16.149223        182667.782500       1.542720e+06
2          1657.891684      15.767235           428.393194       3.017251e+04
3           488.707395      11.652670         26388.662222       3.375487e+05
4           324.106520      13.176111             7.049167       1.005811e+04

=== By Gear ===
                 gear  vessels  flags  avg_length_m  avg_tonnage_gt  \
0      dredge_fishing      486     39     24.222357      131.025853
1  drifting_longlines     4024    107     34.380937      276.761252
2           driftnets       14      5     43.231698      398.421075
3             fishing     3392     96     23.156735      192.375154
4          fixed_gear     1046     50     15.353014       63.482091

   avg_engine_power_kw  avg_crew_size  total_fishing_hours  total_distance_km
0           411.932673       5.691466         9.605952e+05       1.295920e+07
1           608.282317      16.818877         3.543466e+07       5.097298e+08
2           780.211437      20.788965         2.513302e+04       4.460970e+05
3           442.434600      10.395961         5.774048e+06       9.804624e+07
4           245.305055       7.667899         1.583288e+06       2.466689e+07

=== By Flag & Gear ===
  flag                gear  vessels  avg_length_m  avg_tonnage_gt  \
0  AFG  drifting_longlines        2     30.882431       58.068368
1  AFG       set_longlines        1     33.775641       68.377236
2  AFG            trawlers        2     20.099621       67.530298
3  AGO  drifting_longlines        1     33.052712      203.406615
4  AGO             fishing        2     26.164252      173.433569

   avg_engine_power_kw  avg_crew_size  total_fishing_hours
0           707.225269       9.645994           273.769722
1           811.033550      11.640819             5.189583
2           371.771953       8.906130          1044.249722
3           765.011715      14.121351           757.856944
4           581.930240      11.622857          4431.240278

In [ ]:
import pandas as pd

# Load the vessel-level data
vessel_df = pd.read_csv("pnas.2016238117.sd01.csv")

# Clean data for analysis
vessel_df = vessel_df.dropna(subset=["flag", "gear", "length_m", "tonnage_gt", "engine_power_kw", "crew_size"])

# STEP 1 continued: Gear type summaries already done.
# STEP 2: Length, tonnage, engine power (check, fill missing if necessary)

# Check for missing values in key fields
missing_length = vessel_df["length_m"].isnull().sum()
missing_tonnage = vessel_df["tonnage_gt"].isnull().sum()
missing_engine_power = vessel_df["engine_power_kw"].isnull().sum()

print(f"Missing length: {missing_length}, tonnage: {missing_tonnage}, engine_power: {missing_engine_power}")

# If missing values, fill using regression (if necessary; here, just report, not fill, as per user instruction)
# For this sample, proceed with available data.

# --- Nonlinear relationships (fig. S1) ---
# A. Relationship between length and engine power
#    engine_power_kw = a + b*length_m + c*length_m^2 (from fig. S1E, or use actual vessel data)

# Example: Fit quadratic regression (length vs engine power)
import numpy as np
from sklearn.linear_model import LinearRegression

X = vessel_df[["length_m"]]
X_quad = np.column_stack([X, X**2])
y = vessel_df["engine_power_kw"]

reg = LinearRegression().fit(X_quad, y)
print("Quadratic model: engine_power_kw = {:.2f} + {:.4f}*length_m + {:.6f}*length_m^2".format(
    reg.intercept_, reg.coef_[0], reg.coef_[1]
))

# B. Relationship between length and tonnage (optional: fit if needed)
X_ton = vessel_df[["length_m"]]
X_ton_quad = np.column_stack([X_ton, X_ton**2])
y_ton = vessel_df["tonnage_gt"]

reg_ton = LinearRegression().fit(X_ton_quad, y_ton)
print("Quadratic model: tonnage_gt = {:.2f} + {:.4f}*length_m + {:.6f}*length_m^2".format(
    reg_ton.intercept_, reg_ton.coef_[0], reg_ton.coef_[1]
))

# Save regression coefficients for later use (imputation if needed)
np.savez("vessel_length_regressions.npz",
         engine_power_intercept=reg.intercept_,
         engine_power_coef=reg.coef_,
         tonnage_intercept=reg_ton.intercept_,
         tonnage_coef=reg_ton.coef_)

# If desired: Use these models to fill missing values in a larger dataset.

# Save cleaned vessel table for further processing
vessel_df.to_csv("vessels_cleaned.csv", index=False)

Missing length: 0, tonnage: 0, engine_power: 0
Quadratic model: engine_power_kw = 24.43 + 5.7042*length_m + 0.387184*length_m^2
Quadratic model: tonnage_gt = 233.39 + -21.3452*length_m + 0.625255*length_m^2

In [ ]:
import pandas as pd

# Load the cleaned vessel-level data
vessel_df = pd.read_csv("vessels_cleaned.csv")

# STEP: Auxiliary engine power

# According to the methods:
# - For fishing vessels of the high seas fleet, the average auxiliary engine power represents 47% of the power of the main engine.
# - For bunker and reefer vessels: use 24% (not present in this data sample; only fishing vessels expected here).

# Add auxiliary engine power field
vessel_df["aux_engine_power_kw"] = vessel_df["engine_power_kw"] * 0.47

# Save output for further use
vessel_df.to_csv("vessels_with_aux_power.csv", index=False)

print(vessel_df[["mmsi", "engine_power_kw", "aux_engine_power_kw"]].head())

        mmsi  engine_power_kw  aux_engine_power_kw
0  416180800       996.258976           468.241719
1  416180800       996.258976           468.241719
2  416180800       996.258976           468.241719
3  416243500       726.657904           341.529215
4  416243500       726.657904           341.529215

In [ ]:
import pandas as pd

# Load previous data with auxiliary engine power
vessel_df = pd.read_csv("vessels_with_aux_power.csv")

# STEP: Crew
# Use the observed/reported crew_size field directly from data

# Check for missing crew_size values
missing_crew = vessel_df["crew_size"].isnull().sum()
if missing_crew > 0:
    print(f"Warning: {missing_crew} rows have missing crew_size. These will remain NaN.")

# For downstream steps, crew_size is already present
# Optionally, ensure field is integer (crew size should be a count)
vessel_df["crew_size"] = vessel_df["crew_size"].round().astype("Int64")

# Save for next stages
vessel_df.to_csv("vessels_with_crew_size.csv", index=False)

print(vessel_df[["mmsi", "crew_size"]].head())

        mmsi  crew_size
0  416180800         35
1  416180800         35
2  416180800         35
3  416243500         19
4  416243500         19

In [ ]:
import pandas as pd

# Load data with auxiliary engine power and crew size
vessel_df = pd.read_csv("vessels_with_crew_size.csv")

# STEP: Design speed
# Formula (from supplement):
# S_design = 10.4818 + 1.2e-3 * Engine Power - 3.84e-8 * (Engine Power)^2
#           (Engine Power in kW, Design speed in knots)

vessel_df["design_speed_knots"] = (
    10.4818 +
    1.2e-3 * vessel_df["engine_power_kw"] -
    3.84e-8 * vessel_df["engine_power_kw"]**2
)

# Save for next stages
vessel_df.to_csv("vessels_with_design_speed.csv", index=False)

print(vessel_df[["mmsi", "engine_power_kw", "design_speed_knots"]].head())

        mmsi  engine_power_kw  design_speed_knots
0  416180800       996.258976           11.639198
1  416180800       996.258976           11.639198
2  416180800       996.258976           11.639198
3  416243500       726.657904           11.333513
4  416243500       726.657904           11.333513

In [ ]:
import pandas as pd
import numpy as np

# Load data with design speed
vessel_df = pd.read_csv("vessels_with_design_speed.csv")

# STEP: Specific fuel consumption (SFC)
# Rules from supplement:
# - Country-level SFC (g/kWh) if available:
#     China: 280, EU member states: 270, Iceland: 250, Norway: 250, South Korea: 260, Russia: 250
# - Else, by vessel length:
#     <12 m: 240
#     12-24 m: 220
#     >24 m: 180
# - For auxiliary engines: EEA value (203 g/kWh)
# - For bunkers/reefers: use country-specific if possible, else 203 (not present here)

country_sfc = {
    "CHN": 280,
    "China": 280,
    "EU": 270,  # For demonstration; actual country list should be expanded for member states
    "ISL": 250,
    "Iceland": 250,
    "NOR": 250,
    "Norway": 250,
    "KOR": 260,
    "South Korea": 260,
    "RUS": 250,
    "Russia": 250,
}

# Helper function to get SFC
def get_sfc(row):
    flag = row["flag"]
    length = row["length_m"]
    # Use country SFC if available
    for k, v in country_sfc.items():
        if flag.strip().upper().startswith(k):
            return v
    # Else, use length rules
    if length < 12:
        return 240
    elif 12 <= length <= 24:
        return 220
    else:
        return 180

# Compute main engine SFC
vessel_df["sfc_main_g_per_kwh"] = vessel_df.apply(get_sfc, axis=1)

# Auxiliary engine SFC: use 203 for all
vessel_df["sfc_aux_g_per_kwh"] = 203

# Save for next steps
vessel_df.to_csv("vessels_with_sfc.csv", index=False)

print(vessel_df[["mmsi", "flag", "length_m", "sfc_main_g_per_kwh", "sfc_aux_g_per_kwh"]].head())

        mmsi flag   length_m  sfc_main_g_per_kwh  sfc_aux_g_per_kwh
0  416180800  TWN  56.130000                 180                203
1  416180800  TWN  56.130000                 180                203
2  416180800  TWN  56.130000                 180                203
3  416243500  TWN  34.479351                 180                203
4  416243500  TWN  34.479351                 180                203

In [ ]:
import pandas as pd

# STEP: Fishing effort
# Use the provided gridded daily effort data (mmsi-daily-csvs-10-v3-2012-01-01_sample_100.csv)

# Load cell-level daily effort data
effort_df = pd.read_csv("fisingEffort_combined_output_2012.csv")

# Aggregate fishing effort per vessel (mmsi)
vessel_effort = effort_df.groupby("mmsi").agg(
    total_hours=("hours", "sum"),
    total_fishing_hours=("fishing_hours", "sum"),
    days_active=("date", "nunique"),
    cells_visited=("cell_ll_lat", "count"),
).reset_index()

# Save for further merging with vessel characteristics
vessel_effort.to_csv("mmsi_fishing_effort_summary_2012.csv", index=False)

print(vessel_effort.head())

   mmsi  total_hours  total_fishing_hours  days_active  cells_visited
0   803     330.9739              38.6777           24            107
1  3060     712.1620             329.4629           46            177
2  3196     349.4322             240.1968           34             89
3  3659     451.9190             233.2421           35            107
4  5440    6713.4695             937.9891          287           1142

In [ ]:
import pandas as pd

# MERGE calculated datasets

# Load vessel master table
vessel_df = pd.read_csv("vessels_with_sfc.csv")
# Load daily gridded fishing effort summary
vessel_effort = pd.read_csv("mmsi_fishing_effort_summary_2012.csv")

# Merge effort data into vessel table by 'mmsi'
vessel_df = vessel_df.merge(vessel_effort, on="mmsi", how="left")

# Check merge results
print(vessel_df[["mmsi", "total_fishing_hours", "days_active", "cells_visited"]].head())

# Save merged table for downstream economic calculations
vessel_df.to_csv("vessels_with_effort_2012.csv", index=False)

        mmsi  total_fishing_hours  days_active  cells_visited
0  416180800                  NaN          NaN            NaN
1  416180800                  NaN          NaN            NaN
2  416180800                  NaN          NaN            NaN
3  416243500                  NaN          NaN            NaN
4  416243500                  NaN          NaN            NaN

In [ ]:
import pandas as pd

# STEP encounters

# Load vessel master table (with gear, flag, etc.)
vessel_df = pd.read_csv("vessels_with_effort_2012.csv")

# Load carrier and bunker encounters
# Reload the original encounter files to ensure 'neighbor_mmsi' and 'carrier_mmsi' are present
carrier_encounters = pd.read_csv("carrier_encounters_v20210408.csv")
bunker_encounters = pd.read_csv("bunker_encounters_v20210408.csv")

# Map neighbor (fishing) vessel MMSI in encounters to fleet/flag and gear type
# Ensure 'mmsi', 'flag', and 'gear' are selected from vessel_df for merging
fleet_cols = ["mmsi", "flag", "gear"]

# --- Carrier (reefer) encounters: join fishing vessel info ---
# The join should be on 'neighbor_mmsi' from carrier_encounters and 'mmsi' from vessel_df
carrier_encounters = carrier_encounters.merge(
    vessel_df[fleet_cols],
    left_on="neighbor_mmsi",
    right_on="mmsi",
    how="left"
)

# --- Bunker encounters: join fishing vessel info ---
# The join should be on 'neighbor_ssvid' from bunker_encounters and 'mmsi' from vessel_df
bunker_encounters = bunker_encounters.merge(
    vessel_df[fleet_cols],
    left_on="neighbor_ssvid",
    right_on="mmsi",
    how="left"
)

# --- Aggregation: by flag (fleet) and gear type ---
# Ensure the columns for aggregation exist after the merge. The merge adds 'flag' and 'gear' from vessel_df.
carrier_fleet_gear_summary = carrier_encounters.groupby(["flag", "gear"]).agg(
    n_encounters=("event", "count"),
    mean_duration_hr=("event_duration_hr", "mean"),
    total_duration_hr=("event_duration_hr", "sum")
).reset_index()

bunker_fleet_gear_summary = bunker_encounters.groupby(["flag", "gear"]).agg(
    n_encounters=("event", "count"),
    mean_duration_hr=("event_duration_hr", "mean"),
    total_duration_hr=("event_duration_hr", "sum")
).reset_index()


# Save outputs
carrier_fleet_gear_summary.to_csv("carrier_encounter_summary_by_fleet_and_gear_2012.csv", index=False)
bunker_fleet_gear_summary.to_csv("bunker_encounter_summary_by_fleet_and_gear_2012.csv", index=False)

print("Carrier encounters by fleet/flag and gear:")
print(carrier_fleet_gear_summary.head())
print("\nBunker encounters by fleet/flag and gear:")
print(bunker_fleet_gear_summary.head())

Carrier encounters by fleet/flag and gear:
  flag                gear  n_encounters  mean_duration_hr  total_duration_hr
0  BLZ            trawlers            20         30.725000         614.500000
1  CHN  drifting_longlines          3929          8.076822       31733.833334
2  CHN             fishing           246         26.369919        6487.000000
3  CHN          fixed_gear             8          3.666667          29.333333
4  CHN        set_gillnets            11          8.984848          98.833333

Bunker encounters by fleet/flag and gear:
  flag                gear  n_encounters  mean_duration_hr  total_duration_hr
0  BES  drifting_longlines             4          4.166667          16.666667
1  BLZ            trawlers            19          8.447368         160.500000
2  BLZ   tuna_purse_seines           119          4.624650         550.333333
3  CAN             fishing             5         11.666667          58.333333
4  CHL   tuna_purse_seines             3          2.666667           8.000000

In [ ]:
import pandas as pd

#STEP fishing revenue

# --- Load data ---
# Sample value data (landed value by country, species, area, year, etc.)
value_df = pd.read_csv("SAU FAO 18 v50-1.csv")

# Sample catch amount (live weight in tonnes, by country, species, area, year)
# Added encoding='latin-1' to handle potential encoding issues
# Fixed separator to comma based on error and column inspection
# Try reading with different separator and engine
try:
    # Try comma separation first (already did, but good to keep)
    catch_df = pd.read_csv("capture_by_FAOMajorFishingArea.csv", sep=",", encoding='latin-1')
    # Check if columns are parsed correctly
    if len(catch_df.columns) == 1:
         raise ValueError("Columns not parsed correctly with comma separator")
except:
    # If comma separation failed, try tab separation
    try:
        catch_df = pd.read_csv("capture_by_FAOMajorFishingArea.csv", sep="\t", encoding='latin-1')
        if len(catch_df.columns) == 1:
             raise ValueError("Columns not parsed correctly with tab separator")
    except:
        # If both failed, let pandas auto-detect (slower)
        catch_df = pd.read_csv("capture_by_FAOMajorFishingArea.csv", sep=None, engine='python', encoding='latin-1')


# Drop the 'S' columns next to the year columns
catch_df = catch_df.drop(columns=[col for col in catch_df.columns if col.endswith(',S')])

# --- Clean and harmonize columns for merge ---
# Value data: focus on key columns for merge
value_df["year"] = value_df["year"].astype(str)
value_df["country"] = value_df["fishing_entity"]
value_df["species"] = value_df["common_name"]
value_df["area"] = value_df["area_name"]

# Catch data: melt to long format for year columns
year_cols = [col for col in catch_df.columns if col.startswith("[") and col.endswith("]")]
catch_long = catch_df.melt(
    id_vars=["Country (Name)", "ASFIS species (Name)", "FAO major fishing area (Name)", "Unit (Name)", "Unit"],
    value_vars=year_cols,
    var_name="year",
    value_name="value" # Corrected: value_name should be 'value' based on previous output
)

# Print columns of catch_long to debug
print("Columns of catch_long after melt:")
print(catch_long.columns)


catch_long["year"] = catch_long["year"].str.extract(r"\[(\d{4})\]").astype(str)
catch_long["country"] = catch_long["Country (Name)"]
catch_long["species"] = catch_long["ASFIS species (Name)"]
catch_long["area"] = catch_long["FAO major fishing area (Name)"]

# --- Debugging: Inspect merge key columns ---
print("\n--- Debugging Merge Keys ---")
print("Unique values in catch_long['country']:", catch_long['country'].unique()[:20]) # Print first 20 unique values
print("Unique values in value_df['country']:", value_df['country'].unique()[:20]) # Print first 20 unique values
print("Unique values in catch_long['species']:", catch_long['species'].unique()[:20]) # Print first 20 unique values
print("Unique values in value_df['species']:", value_df['species'].unique()[:20]) # Print first 20 unique values
print("Unique values in catch_long['area']:", catch_long['area'].unique()[:20]) # Print first 20 unique values
print("Unique values in value_df['area']:", value_df['area'].unique()[:20]) # Print first 20 unique values
print("Unique values in catch_long['year']:", catch_long['year'].unique()[:20]) # Print first 20 unique values
print("Unique values in value_df['year']:", value_df['year'].unique()[:20]) # Print first 20 unique values
print("Data type of catch_long['country']:", catch_long['country'].dtype)
print("Data type of value_df['country']:", value_df['country'].dtype)
print("Data type of catch_long['species']:", catch_long['species'].dtype)
print("Data type of value_df['species']:", value_df['species'].dtype)
print("Data type of catch_long['area']:", catch_long['area'].dtype)
print("Data type of value_df['area']:", value_df['area'].dtype)
print("Data type of catch_long['year']:", catch_long['year'].dtype)
print("Data type of value_df['year']:", value_df['year'].dtype)


# --- Merge: for all years, by country, species, and area ---
# Remove the year filtering for both dataframes
merged = pd.merge(
    catch_long, # Use catch_long with all years
    value_df, # Use value_df with all years
    on=["country", "species", "area", "year"], # Merge on year as well
    how="left",
    suffixes=("_catch", "_value")
)

# --- Output: Key columns for analysis ---
# Corrected: Use 'value' instead of 'tonnes'
result = merged[[
    "country", "species", "area", "year", "value", "landed_value"
]]

# Update the output filename to reflect all years
result.to_csv("catch_value_merged_all_years.csv", index=False)
print(result.head())
print(result[result["landed_value"].notna()].head())

Columns of catch_long after melt:
Index(['Country (Name)', 'ASFIS species (Name)',
       'FAO major fishing area (Name)', 'Unit (Name)', 'Unit', 'year',
       'value'],
      dtype='object')

--- Debugging Merge Keys ---
Unique values in catch_long['country']: ['Afghanistan' 'Albania' 'Algeria' 'American Samoa' 'Andorra' 'Angola'
 'Anguilla' 'Antigua and Barbuda' 'Argentina' 'Armenia' 'Aruba'
 'Ascension, Saint Helena and Tristan da Cunha' 'Australia' 'Austria'
 'Azerbaijan' 'Bahamas' 'Bahrain' 'Bangladesh' 'Barbados' 'Belarus']
Unique values in value_df['country']: ['Canada' 'Russian Federation' 'USA']
Unique values in catch_long['species']: ['Freshwater fishes NEI' 'Angelsharks, sand devils NEI'
 'Atlantic bluefin tuna' 'Atlantic bonito' 'Barracudas NEI' 'Bighead carp'
 'Bleak' 'Blue and red shrimp' 'Blue crab' 'Blue whiting(=Poutassou)'
 'Bluefish' 'Bogue' 'Caramote prawn' 'Catsharks, nursehounds NEI'
 'Common carp' 'Common cuttlefish' 'Common dace' 'Common dentex'
 'Common octopus' 'Common sole']
Unique values in value_df['species']: ['Marine fishes nei' 'Smelts' 'Cods, haddocks' 'Sculpins' 'Whitefishes'
 'Atlantic salmon' 'Pink salmon' 'Chum salmon' 'Coho salmon' 'Arctic char'
 'Saffron cod' 'Polar cod' 'Greenland halibut' 'Pacific herring'
 'Arctic cisco' 'Broad whitefish' 'Humpback whitefish' 'Sardine cisco'
 'Dolly varden' 'Sheefish']
Unique values in catch_long['area']: ['Asia - Inland waters' 'Mediterranean and Black Sea'
 'Europe - Inland waters' 'Africa - Inland waters'
 'Pacific, Eastern Central' 'Oceania - Inland waters'
 'Atlantic, Southeast' 'Atlantic, Eastern Central'
 'Atlantic, Western Central' 'America, North - Inland waters'
 'America, South - Inland waters' 'Atlantic, Antarctic'
 'Atlantic, Southwest' 'Pacific, Antarctic'
 'Marine areas outside the Antarctic' 'Antarctic areas NEI'
 'Pacific, Southeast' 'Indian Ocean, Antarctic' 'Indian Ocean, Eastern'
 'Pacific, Southwest']
Unique values in value_df['area']: ['Arctic Sea']
Unique values in catch_long['year']: ['2010' '2011' '2012' '2013' '2014' '2015' '2016' '2017' '2018' '2019'
 '2020' '2021' '2022' '2023']
Unique values in value_df['year']: ['1950' '1951' '1952' '1953' '1954' '1955' '1956' '1957' '1958' '1959'
 '1960' '1961' '1962' '1963' '1964' '1965' '1966' '1967' '1968' '1969']
Data type of catch_long['country']: object
Data type of value_df['country']: object
Data type of catch_long['species']: object
Data type of value_df['species']: object
Data type of catch_long['area']: object
Data type of value_df['area']: object
Data type of catch_long['year']: object
Data type of value_df['year']: object
       country                       species                         area  \
0  Afghanistan         Freshwater fishes NEI         Asia - Inland waters
1      Albania  Angelsharks, sand devils NEI  Mediterranean and Black Sea
2      Albania         Atlantic bluefin tuna  Mediterranean and Black Sea
3      Albania               Atlantic bonito  Mediterranean and Black Sea
4      Albania                Barracudas NEI  Mediterranean and Black Sea

   year   value  landed_value
0  2010  1000.0           NaN
1  2010    78.0           NaN
2  2010     0.0           NaN
3  2010    23.0           NaN
4  2010     7.0           NaN
Empty DataFrame
Columns: [country, species, area, year, value, landed_value]
Index: []

In [ ]:
import pandas as pd

# STEP LABOR

# Load your vessel data (should contain at least: mmsi, flag, crew_size, days_active, main_fuel_kg, aux_fuel_kg, total_fishing_hours, etc.)
vessel_df = pd.read_csv("vessels_with_effort.csv")  # <-- Update with actual vessel CSV filename

# Load labor data (monthly wage per country, USD/month)
labor = pd.read_csv("EAR_4MTH_SEX_OCU_CUR_NB_A-filtered-2025-06-27.csv")

# Clean labor columns for easier usage
labor.columns = [c.replace('"', '').replace('.', '').replace(' ', '_').replace('(', '').replace(')', '').replace('-', '_').replace(',', '').replace(':', '').lower() for c in labor.columns]
# Now labor['ref_area_label'] is country, labor['time'] = year, labor['obs_value'] = wage (USD/month)

# Keep only most recent wage per country (drop rows with missing obs_value)
labor = labor.dropna(subset=["obs_value"])
# Correct the column name to 'ref_arealabel' based on the variable explorer
labor_recent = labor.sort_values("time").groupby("ref_arealabel").tail(1)  # most recent year per country

# Make a mapping from country to wage
country_to_wage = dict(zip(labor_recent["ref_arealabel"], labor_recent["obs_value"]))

# Map vessel flag to wage (requires consistent country naming)
# If vessel_df 'flag' field uses ISO3, map to country names
iso_map = {
    "CHN": "China",
    "KOR": "Republic of Korea",
    "RUS": "Russian Federation",
    "ESP": "Spain",
    "ISL": "Iceland",
    "NOR": "Norway",
    # Add any other mappings as needed
}
def get_country_name(flag):
    return iso_map.get(flag, flag)

# Add country name column for mapping
vessel_df["country_name"] = vessel_df["flag"].apply(get_country_name)
vessel_df["monthly_wage_usd"] = vessel_df["country_name"].map(country_to_wage)

# If missing, fill with a global median or mean
median_wage = labor_recent["obs_value"].median()
vessel_df["monthly_wage_usd"] = vessel_df["monthly_wage_usd"].fillna(median_wage)

# Update crew cost calculation: crew_size * days_active/30 * wage
vessel_df["crew_cost_usd"] = vessel_df["crew_size"] * (vessel_df["days_active"] * (vessel_df["monthly_wage_usd"] / 30))

# Save updated output (does not include cost or profit yet)
vessel_df.to_csv("vessels_with_updated_wages.csv", index=False)

# Print sample output for verification
print(vessel_df[[
    "mmsi", "flag", "country_name", "monthly_wage_usd",
    "crew_size", "days_active", "crew_cost_usd"
]].head())

        mmsi flag country_name  monthly_wage_usd  crew_size  days_active  \
0  416180800  TWN          TWN          334.7695         35          NaN
1  416180800  TWN          TWN          334.7695         35          NaN
2  416180800  TWN          TWN          334.7695         35          NaN
3  416243500  TWN          TWN          334.7695         19          NaN
4  416243500  TWN          TWN          334.7695         19          NaN

   crew_cost_usd
0            NaN
1            NaN
2            NaN
3            NaN
4            NaN

In [ ]:
import pandas as pd
import numpy as np
from datetime import datetime

# PROFIT

# --- Load vessel-effort and wage-updated data ---
vessel_df = pd.read_csv("vessels_with_updated_wages.csv")

# --- Load merged catch amount/value-per-tonne data ---
catch_value_df = pd.read_csv("catch_amount_value_merged.csv")

# --- Load fuel price data ---
fuel_prices = pd.read_csv("Daily_Bunker_Fuel_Prices_20250524.csv")

# --- Clean fuel price columns ---
# Standardize column names
fuel_prices.columns = [c.strip().replace(' ', '_').replace('.', '').replace('%','pct').replace('/', '_').replace('"','').replace(',','') for c in fuel_prices.columns]
# Parse date
def parse_date(row):
    try:
        return datetime.strptime(row['Day'], "%m/%d/%Y")
    except Exception:
        return pd.NaT
fuel_prices['date'] = fuel_prices.apply(parse_date, axis=1)
# We'll use "Marine_Gas_Oil" as the default marine fuel price
fuel_prices = fuel_prices.dropna(subset=["date"])
fuel_prices = fuel_prices.sort_values("date")
fuel_prices['Marine_Gas_Oil'] = pd.to_numeric(fuel_prices['Marine_Gas_Oil'], errors='coerce')

# --- Build a mapping from year to mean fuel price (USD/ton) ---
fuel_prices['year'] = fuel_prices['date'].dt.year
yearly_fuel_price = fuel_prices.groupby('year')["Marine_Gas_Oil"].mean().to_dict()

# --- Merge catch value per tonne to vessel_df by flag/country/species/area ---
value_map = catch_value_df.groupby("fishing_entity")["value_per_tonne"].median().to_dict()
vessel_df["value_per_tonne"] = vessel_df["country_name"].map(value_map)
median_value = catch_value_df["value_per_tonne"].median()
vessel_df["value_per_tonne"] = vessel_df["value_per_tonne"].fillna(median_value)

# --- Estimate catch in tonnes ---
catch_per_hour = 0.3  # tons/hour as fallback, update if possible
if "estimated_landings_tons" not in vessel_df.columns:
    vessel_df["estimated_landings_tons"] = vessel_df["total_fishing_hours"] * catch_per_hour

# --- Revenue calculation using value_per_tonne from catch data ---
vessel_df["revenue_usd"] = vessel_df["estimated_landings_tons"] * vessel_df["value_per_tonne"]

# --- Select fuel price by vessel year (or use latest if missing) ---
# If vessel_df has a 'year' or 'active_year' column, use it; otherwise, use the latest year in the fuel price data
if 'year' in vessel_df.columns:
    vessel_df['fuel_price_usd_per_ton'] = vessel_df['year'].map(yearly_fuel_price)
else:
    latest_year = max(yearly_fuel_price.keys())
    vessel_df['fuel_price_usd_per_ton'] = yearly_fuel_price[latest_year]

# If any vessel still missing fuel price, fill with overall mean
overall_mean_fuel_price = np.nanmean(list(yearly_fuel_price.values()))
vessel_df['fuel_price_usd_per_ton'] = vessel_df['fuel_price_usd_per_ton'].fillna(overall_mean_fuel_price)

# --- Calculate fuel consumption (kg) ---
# Assume load factors: 0.6 for fishing, 0.8 for transit/other activity
load_factor_fishing = 0.6
load_factor_transit = 0.8

# Assuming 'total_hours' is total active hours and 'fishing_hours' is hours spent fishing
vessel_df["transit_hours"] = vessel_df["total_hours"] - vessel_df["fishing_hours"]

# Fuel consumption (kg) = Power (kW) * SFC (g/kWh) * Hours (h) / 1000 (g/kg) * Load Factor
vessel_df["main_fuel_kg"] = (
    vessel_df["engine_power_kw"] * vessel_df["sfc_main_g_per_kwh"] *
    (vessel_df["fishing_hours"] * load_factor_fishing + vessel_df["transit_hours"] * load_factor_transit) / 1000
)

vessel_df["aux_fuel_kg"] = (
    vessel_df["aux_engine_power_kw"] * vessel_df["sfc_aux_g_per_kwh"] *
    vessel_df["total_hours"] / 1000  # Auxiliary engines run during all active hours
)


# --- Fuel cost calculation using vessel's fuel consumption and year-matched price ---
vessel_df["total_fuel_tons"] = (vessel_df["main_fuel_kg"] + vessel_df["aux_fuel_kg"]) / 1000
vessel_df["fuel_cost_usd"] = vessel_df["total_fuel_tons"] * vessel_df["fuel_price_usd_per_ton"]

# --- Fixed cost ---
fixed_cost_per_day = 100
vessel_df["fixed_cost_usd"] = vessel_df["days_active"] * fixed_cost_per_day

# --- Total cost and profit ---
vessel_df["total_cost_usd"] = vessel_df["fuel_cost_usd"] + vessel_df["crew_cost_usd"] + vessel_df["fixed_cost_usd"]
vessel_df["profit_usd"] = vessel_df["revenue_usd"] - vessel_df["total_cost_usd"]

# --- Save output ---
vessel_df.to_csv("vessels_with_cost_profit_fuel_by_year.csv", index=False)

# --- Print sample output ---
print(vessel_df[[
    "mmsi", "flag", "country_name", "year" if "year" in vessel_df.columns else vessel_df.index,
    "monthly_wage_usd", "crew_size", "days_active",
    "crew_cost_usd", "main_fuel_kg", "aux_fuel_kg", "fuel_cost_usd", "fuel_price_usd_per_ton", "fixed_cost_usd", "estimated_landings_tons",
    "value_per_tonne", "revenue_usd", "total_cost_usd", "profit_usd"
]].head())

        mmsi flag country_name  year  monthly_wage_usd  crew_size  \
0  416180800  TWN          TWN  2015          334.7695         35
1  416180800  TWN          TWN  2016          334.7695         35
2  416180800  TWN          TWN  2017          334.7695         35
3  416243500  TWN          TWN  2013          334.7695         19
4  416243500  TWN          TWN  2014          334.7695         19

   days_active  crew_cost_usd  main_fuel_kg  aux_fuel_kg  fuel_cost_usd  \
0          NaN            NaN           NaN          NaN            NaN
1          NaN            NaN           NaN          NaN            NaN
2          NaN            NaN           NaN          NaN            NaN
3          NaN            NaN           NaN          NaN            NaN
4          NaN            NaN           NaN          NaN            NaN

   fuel_price_usd_per_ton  fixed_cost_usd  estimated_landings_tons  \
0              758.119701             NaN                      NaN
1              758.119701             NaN                      NaN
2              758.119701             NaN                      NaN
3              758.119701             NaN                      NaN
4              758.119701             NaN                      NaN

   value_per_tonne  revenue_usd  total_cost_usd  profit_usd
0              NaN          NaN             NaN         NaN
1              NaN          NaN             NaN         NaN
2              NaN          NaN             NaN         NaN
3              NaN          NaN             NaN         NaN
4              NaN          NaN             NaN         NaN

In [ ]:
# Filter out rows where profit_usd is NaN
vessel_df_filtered = vessel_df.dropna(subset=["profit_usd"])

# Display the first few rows of the filtered DataFrame
print("Filtered DataFrame (first 5 rows):")
display(vessel_df_filtered.head())

# Display the shape of the original and filtered DataFrames to show the number of rows removed
print(f"\nOriginal DataFrame shape: {vessel_df.shape}")
print(f"Filtered DataFrame shape: {vessel_df_filtered.shape}")

Filtered DataFrame (first 5 rows):

Empty DataFrame
Columns: [mmsi, year, flag, gear, engine_power_kw, tonnage_gt, length_m, crew_size, positions, ais_type, foc, iuu, fldb_vessel_id, source_id, years_until_caught, hours, fishing_hours, average_daily_fishing_hours, fishing_hours_foreign_eez, fishing_hours_high_seas, distance_traveled_km, max_distance_from_shore_km, max_distance_from_port_km, number_encounters, number_iuu_encounters, number_forced_labor_encounters, average_encounter_duration_hours, gaps_24_hours, number_voyages, number_foreign_port_visits, number_poc_port_visits, average_voyage_duration_hours, number_loitering_events, average_loitering_duration_hours, offender, aux_engine_power_kw, design_speed_knots, sfc_main_g_per_kwh, sfc_aux_g_per_kwh, total_hours, total_fishing_hours, days_active, cells_visited, country_name, monthly_wage_usd, crew_cost_usd, value_per_tonne, estimated_landings_tons, revenue_usd, fuel_price_usd_per_ton, transit_hours, main_fuel_kg, aux_fuel_kg, total_fuel_tons, fuel_cost_usd, fixed_cost_usd, total_cost_usd, profit_usd]
Index: []

[0 rows x 58 columns]

Original DataFrame shape: (123648, 58)
Filtered DataFrame shape: (0, 58)